<head>
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google }}');
  </script>
  <!-- End Google Analytics -->

  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% assign meta_title = page.title | default: site.title %}
  {% assign meta_description = page.description | default: site.description | default: site.title %}
  <meta name="title" content="{{ meta_title }}">
  <meta name="description" content="{{ meta_description }}">
  <!-- Primary Meta Tags -->

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{{ '/social_916x509.jpg' | absolute_url }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="twitter:title" content="{{ meta_title }}">
  <meta property="twitter:description" content="{{ meta_description }}">
  <meta property="twitter:image" content="{{ '/social_916x509.jpg' | absolute_url }}">


  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link rel="icon" href="{{ '/favicon.png' | relative_url }}" type="image/png">
  <link rel="stylesheet" href="{{ '/assets/bundle.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet"
    type="text/css">

  <script src="{{ '/assets/bundle.js' | relative_url }}"></script>
  <script>
    window.siteBaseUrl = "{{ '/' | relative_url }}";
  </script>

</head>
